{% extends "base.html" %}

{% block title %}Domain Details | Thrivemap{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/domain_details.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block content %}
    <section class="domain-details">
        <h2>{{ domain.domain_name }}</h2>
        
        <div class="domain-info" style="text-align: left;">
            <md id="domain-description">{{ domain.description|safe }}</md>
            <form id="edit-form" action="{{ url_for('domain.update_description', domain_id=domain.domain_id) }}" method="post" style="display: none;">
                <input type="hidden" name="domain_name" value="{{ domain.domain_name }}">
                <textarea id="description" name="description">{{ domain.description }}</textarea>
                <button type="submit">Update Description</button>
            </form>
            <button id="edit-button" onclick="toggleEdit()">Edit</button>
        </div>
        <button onclick="window.location.href=''">View Notes & Goals</button>

    </section>
    <section class="navigation-buttons">
        <button onclick="window.location.href='{{ url_for("domain.home") }}'">Back to Home</button>

    </section>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/MarketingPipeline/Markdown-Tag/markdown-tag.js"></script>
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("description")
        });

        function toggleEdit() {
            var editForm = document.getElementById("edit-form");
            var editButton = document.getElementById("edit-button");

            if (editForm.style.display === "none") {
                editForm.style.display = "block";
                editButton.textContent = "Cancel";
            } else {
                editForm.style.display = "none";
                editButton.textContent = "Edit";
            }
        }
    </script>
    <script src="{{ url_for('static', filename='js/domain_details.js') }}"></script>
{% endblock %}
